<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fisei.vasconez.kotlin_carritocompras">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_CarritoCompras"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.Client.shopping_bag.ClientShoppingBagActivityMCLB"
            android:parentActivityName=".activities.Client.home.ClientHomeActivityMCLB"
            android:exported="false" />
        <activity
            android:name=".activities.Client.products.detail.ClientProductsDetailActivityMCLB"
            android:exported="false" />
        <activity
            android:name=".activities.Client.products.list.ClientProductsListActivityMCLB"
            android:exported="false" /> <!-- android:parentActivityName=".activities.Client.home.ClientHomeActivity"  hace que se agregue una fecha para regresar -->
        <activity
            android:name=".activities.Client.update.ClientUpdateActivityMCLB"
            android:exported="false"
            android:parentActivityName=".activities.Client.home.ClientHomeActivityMCLB" />
        <activity
            android:name=".activities.SaveImageActivityMCLB"
            android:exported="false" />
        <activity
            android:name=".activities.Client.home.ClientHomeActivityMCLB"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivityMCLB"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivityMCLB"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>